<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <div class="container mt-4">
        <a th:href="@{/nuevo}" class="btn btn-primary">Nuevo</a>
        <table class="table" border="3">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>EMAIL</th>
                <th>DIRECCION</th>
                <th>ESTADO CIVIL</th>
                <th>EDAD</th>
                <th>ACCIONES</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="persona:${personas}">
                <td th:text="${persona.id}"></td>
                <td th:text="${persona.nombre}"></td>
                <td th:text="${persona.apellido}"></td>
                <td th:text="${persona.email}"></td>
                <td th:text="${persona.direccion}"></td>
                <td th:text="${persona.estadoCivil}"></td>
                <td th:text="${persona.edad}"></td>
                <td>
                    <a th:href="@{/eliminar/}+${persona.id}"  class="btn btn-danger">Eliminar</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>